<?xml version="1.0" encoding="utf-8"?>
<!-- This URDF was automatically created by SolidWorks to URDF Exporter! Originally created by Stephen Brawner (brawner@gmail.com) 
     Commit Version: 1.6.0-4-g7f85cfe  Build Version: 1.6.7995.38578
     For more information, please see http://wiki.ros.org/sw_urdf_exporter -->
<robot
  name="ASV_MainAssembly">
  <link
    name="base_link">
    <inertial>
      <origin
        xyz="0.00170257343491328 -0.119762543638334 0.000215474057234356"
        rpy="0 0 0" />
      <mass
        value="139.541646462225" />
      <inertia
        ixx="1.64645024438186"
        ixy="0.00256642259690755"
        ixz="-0.000173976431139341"
        iyy="23.4108400433092"
        iyz="3.8134900043706E-06"
        izz="23.0049033864177" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://urdf-models/meshes/base_link.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.752941176470588 0.752941176470588 0.752941176470588 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://urdf-models/meshes/base_link.STL" />
      </geometry>
    </collision>
  </link>
</robot>